[submodule "lib/xuggle-xuggler"]
	path = lib/xuggle-xuggler
	url = git://github.com/xuggle/xuggle-xuggler.git
[submodule "lib/slf4j"]
	path = lib/slf4j
	url = git://github.com/ceki/slf4j.git
[submodule "lib/h2"]
	path = lib/h2
	url = git@github.com:supasnashbuhl/h2.git
[submodule "lib/lucene-solr"]
	path = lib/lucene-solr
	url = git://github.com/apache/lucene-solr.git
