#toolbar {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    background: #ccc; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
}
body {
	padding-top: 100px;
}